services:
    postgres:
        image: postgres:17-alpine
        container_name: tech_radar_postgres
        restart: always
        environment:
            POSTGRES_USER: admin
            POSTGRES_PASSWORD: admin
            POSTGRES_DB: tech-radar
        ports:
            - '5432:5432'
        volumes:
            - postgres_data:/var/lib/postgresql/data

    pgadmin:
        image: dpage/pgadmin4:latest
        container_name: pgadmin
        restart: always
        environment:
            PGADMIN_DEFAULT_EMAIL: admin@admin.com
            PGADMIN_DEFAULT_PASSWORD: admin
        ports:
            - '4000:80'
        depends_on:
            - postgres

volumes:
    postgres_data:
